Source: mime-construct
Section: mail
Priority: optional
Maintainer: Roderick Schertler <roderick@argon.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 3.0.18), perl (>= 5.6.0-16), libmime-base64-perl, libmime-types-perl, libproc-waitstat-perl

Package: mime-construct
Architecture: all
Depends: ${perl:Depends}, libmime-base64-perl, libmime-types-perl, libproc-waitstat-perl
Description: construct/send MIME messages from the command line
 mime-construct constructs and (by default) mails MIME messages.  It is
 entirely driven from the command line, it is designed to be used by
 other programs, or people who act like programs.
